<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Alibaba</title>
</head>
<body>
    <h1>Here is my Flight list page!</h1>
    {% for item in flights %}
        <hr>
        <p style="color: blue;">Origin: {{ item.origin }}</p>
        <p style="color: red;">Destination: {{ item.destination }}</p>
        <p style="color: blue;">Time:{{ item.time }}</p>
        <p style="color: red;">Price: {{ item.price }}</p>
        <p style="color: blue;">Capacity: {{ item.capacity}}
    {% endfor %}
</body>
</html>